<div class="jumbotron container-med-right">	
	<h1>About us</h1>
	<h3>Brewed fresh daily in Austin, TX.</h3>
	<p>P.S. We'd love to hear from you. <%= link_to "hello@indi.io", "mailto:hello@indi.io" %></p>
</div>