<div class="jumbotron container-med right">
	<h1><b>indi</b>.io</h1>
	<h3>The marketplace for independent authors.</h3>
	<% if user_signed_in? %>
    <%= link_to "I'm an author", listings_path %> | 
    <%= link_to "I'm a provider", add_listing_path %>
  <% else %>
		<p>Coming soon.</p>
		<p>
			<%= link_to "Notify me", notify_path, class:"btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>